---
name: "{{current_env.cloudNameWithCluster}}"
apiUrl: "{{current_env.cluster.cloud_api_url}}"
apiPort: "{{current_env.cluster.cloud_api_port}}"
privateUrl: ""
publicUrl: "{{current_env.cluster.cloud_public_url}}"
dashboardUrl: "https://dashboard.{{current_env.cluster.cloud_public_url}}"
labels: []
defaultCredentialsId: "token"
protocol: "{{current_env.cluster.cloud_api_protocol}}"
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
mergeDeployParametersAndE2EParameters: false
dbMode: "db"
databases: []
maasConfig:
  credentialsId: "maas"
  maasUrl: "http://maas-service-maas.{{current_env.cluster.cloud_public_url}}"
  maasInternalAddress: "http://maas-service.maas:8080"
  enable: true
vaultConfig:
  url: ""
  credentialsId: ""
  enable: false
dbaasConfigs:
  - credentialsId: "dbaas"
    apiUrl: 'http://dbaas-aggregator.dbaas:8080'
    aggregatorUrl: 'https://aggregator-dbaas.{{current_env.cluster.cloud_public_url}}'
    enable: true
consulConfig:
  tokenSecret: "consul-token"
  publicUrl: 'https://consul.{{current_env.cluster.cloud_public_url}}'
  enabled: true
  internalUrl: 'http://consul-server.consul:8500'
