---
name: "{{current_env.name}}-billing"
credentialsId: ""
isServerSideMerge: true
labels:
- "solutionInstance-{{current_env.name}}"
- "solution-{{current_env.tenant}}"
cleanInstallApprovalRequired: {{ current_env.additionalTemplateVariables.cleanInstallApprovalRequired | default('false') }}
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_billing_override
  baseline: dev
deployParameters:
  ENVGENE_CONFIG_REF_NAME: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_REF_NAME')| default('No Ref Name') }}"
  ENVGENE_CONFIG_TAG: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_TAG')| default('No Ref tag') }}"
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
- "billing"
e2eParameterSets: []
technicalConfigurationParameterSets: []

