---
name: "{{current_env.name}}-app"
labels:
- "Instance-{{current_env.name}}"
credentialsId: ""
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
deployParameters:
  ENVGENE_CONFIG_REF_NAME: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_REF_NAME')| default('No Ref Name') }}"
  ENVGENE_CONFIG_TAG: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_TAG')| default('No Ref tag') }}"
  APP_NAMESPACE: "{{current_env.name}}-app"
  Variable_1: "{{env_definition.envTemplate.additionalTemplateVariables.Variable_1}}"
{% if "Test-App-Name" in current_env.solution_structure %}
  TEST_SD_VALUE_1: "TEST_SD_VALUE_1"
{% endif %}
e2eParameters:
  APP_NAMESPACE: "{{current_env.name}}-app"
  Variable_2: "{{env_definition.envTemplate.additionalTemplateVariables.Variable_2}}
{% if "Test-App-Name" in current_env.solution_structure %}
  TEST_SD_VALUE_2: "TEST_SD_VALUE_2"
{% endif %}
technicalConfigurationParameters:
  APP_NAMESPACE: "{{current_env.name}}-app"
  Variable_3: "{{env_definition.envTemplate.additionalTemplateVariables.Variable_3}}"
{% if "Test-App-Name" in current_env.solution_structure %}
  TEST_SD_VALUE_3: "TEST_SD_VALUE_3"
{% endif %}
deployParameterSets:
  - "test-parameters-1"
e2eParameterSets:
  - "test-parameters-1"
technicalConfigurationParameterSets:
  - "test-parameters-1"