---
name: "{{current_env.name}}-bss"
credentialsId: ""
isServerSideMerge: false
labels:
- "solutionInstance-{{current_env.name}}"
- "solution-{{current_env.tenant}}"
cleanInstallApprovalRequired: {{ current_env.additionalTemplateVariables.cleanInstallApprovalRequired | default('false') }}
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_bss_override
  baseline: dev
deployParameters:
  ENVGENE_CONFIG_REF_NAME: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_REF_NAME')| default('No Ref Name') }}"
  ENVGENE_CONFIG_TAG: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_TAG')| default('No Ref tag') }}"
  OVERRIDE_PARAMETER: "template-value"
{% if 'application-name-A' in current_env.solution_structure %}
  param: value-1
{% else %}
  param: value-2
{% endif %}
  oss_ns: "{{ current_env.solution_structure['oss-app].['oss'].namespace }}"
{% if current_env.additionalTemplateVariables.ci is defined %}
e2eParameters: 
{{ current_env.additionalTemplateVariables.e2eParameters | ansible.builtin.to_nice_yaml | indent(2, true) }}
{% else %}
e2eParameters: {}
{% endif %}
technicalConfigurationParameters: {}
deployParameterSets:
- "bss"
- "test-deploy-creds"
e2eParameterSets: []
technicalConfigurationParameterSets:
- "bss-tech"
