---
name: "{{current_env.cloud}}"
apiUrl: ""
apiPort: ""
privateUrl: ""
publicUrl: ""
dashboardUrl: ""
labels: []
defaultCredentialsId: ""
protocol: ""
mergeDeployParametersAndE2EParameters: false
dbMode: "db"
databases: []
maasConfig:
  credentialsId: ""
  maasUrl: ""
  maasInternalAddress: ""
  enable: true
vaultConfig:
  url: ""
  credentialsId: ""
  enable: false
dbaasConfigs:
  - credentialsId: ""
    apiUrl: ""
    aggregatorUrl: ""
    enable: false
consulConfig:
  tokenSecret: ""
  publicUrl: ""
  enabled: false
  internalUrl: ""
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
