boto3==1.29.3
botocore==1.32.3
gcip==3.0.2
jmespath==1.0.1
packaging==23.2
python-dateutil==2.8.2
PyYAML==6.0.1
s3transfer==0.7.0
setuptools-git-versioning==1.13.5
six==1.16.0
toml==0.10.2
urllib3==2.0.7
lxml==4.9.3
requests==2.32.3
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
ruyaml==0.91.0
jschon==0.11.0
jsonschema==4.19.1
diagrams==0.23.3
attrs==23.2.0
referencing==0.33.0
rpds-py==0.17.1
jsonschema-specifications==2023.12.1
cryptography==41.0.3
ansible==9.2.0
ansible_runner==2.3.5
pytest==7.4.3
junitparser==3.1.2
hiyapyco==0.6.0
click==8.1.7
