---
name: "{{current_env.name}}-billing"
credentialsId: ""
isServerSideMerge: true
labels:
- "solutionInstance-{{current_env.name}}"
- "solution-{{tenant}}"
cleanInstallApprovalRequired: {{ current_env.additionalTemplateVariables.cleanInstallApprovalRequired | default('false') }}
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev-nrm-override
  baseline: dev
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
- "billing"
e2eParameterSets: []
technicalConfigurationParameterSets: []

