---
name: "{{current_env.name}}-data-management"
credentialsId: ""
isServerSideMerge: false
labels:
- "solutionInstance-{{current_env.name}}"
- "solution-{{tenant}}"
cleanInstallApprovalRequired: {{ current_env.additionalTemplateVariables.cleanInstallApprovalRequired | default('false') }}
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_dm_override
  baseline: dev
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
- "data-management"
e2eParameterSets: []
technicalConfigurationParameterSets:
- "data-management-tech"

