version: 1
name: bss-common
parameters:
  # PAAS_VERSION: "1.25"
  RUNTIME_MODE: "CACHE"
applications:
  - appName: "Cloud-Core"
    parameters:
      PLUGIN_URL: "http://brokering-service:8888/convert"
  - appName: "Core-Extensions"
    parameters:
      max.plugin.size.mb: "100"
