---
name: "{{current_env.cloudNameWithCluster}}"
apiUrl: "{{current_env.cloud_passport.cloud.CLOUD_API_HOST}}"
apiPort: "{{current_env.cloud_passport.cloud.CLOUD_API_PORT}}"
privateUrl: ""
publicUrl: "{{current_env.cloud_passport.cloud.CLOUD_API_PORT}}"
dashboardUrl: "https://dashboard.{{current_env.cluster.cloud_public_url}}"
labels: []
defaultCredentialsId: "admin-token"
protocol: "{{current_env.cluster.cloud_api_protocol}}"
mergeDeployParametersAndE2EParameters: false
dbMode: "db"
databases: []
maasConfig:
  credentialsId: "maas"
  maasUrl: "http://maas.{{current_env.cluster.cloud_public_url}}"
  maasInternalAddress: "http://maas.maas:8888"
  enable: true
vaultConfig:
  url: ""
  credentialsId: ""
  enable: false
dbaasConfigs:
  - credentialsId: "dbaas"
    apiUrl: 'http://dbaas.dbaas:8888'
    aggregatorUrl: 'https://dbaas.{{current_env.cluster.cloud_public_url}}'
    enable: true
consulConfig:
  tokenSecret: "consul-token"
  publicUrl: 'https://consul.{{current_env.cluster.cloud_public_url}}'
  enabled: true
  internalUrl: 'http://consul.consul:8888'
deployParameters:
  ENV_NAME: "{{current_env.name}}"
  TEST_VALUE_SS_cloud_yml: "{{ current_env.solution_structure["Test-App-Name"]["app"].namespace }}"
e2eParameters: 
{% if current_env.cloud_passport.cloud.CLOUD_PUBLIC_HOST is defined %}
    url: "https://toolset.{{ current_env.cloud_passport.cloud.CLOUD_PUBLIC_HOST }}"
{% endif %}
    INSTANSES_REPO: "https://github.com/Netcracker/qubership-envgene-instance"
technicalConfigurationParameters: {}
deployParameterSets: 
  - "app-common"
e2eParameterSets:
  - "app-common"
technicalConfigurationParameterSets:
  - "app-common"
