---
name: "{{current_env.name}}-app-core"
tenantName: "{{current_env.env_template}}"
credentialsId: ""
labels:
- "solutionInstance-{{current_env.name}}"
- "solution-{{current_env.tenant}}"
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_app_core
  baseline: dev
deployParameters:
  ENVGENE_CONFIG_REF_NAME: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_REF_NAME')| default('No Ref Name') }}"
  ENVGENE_CONFIG_TAG: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_TAG')| default('No Ref tag') }}"
  APP_CORE_NAMESPACE: "{{current_env.name}}-app-core"
  APP_NAMESPACE: "{{current_env.name}}-app"
{% if "TEST-VALUE-IF-ENDIF" in current_env.solution_structure %}
  TEST_PARAM_IF_ENDIF_1: "TEST_PARAM_IF_ENDIF_value"
{% endif %}
{% if "Test-App-Name" in current_env.solution_structure %}
  TEST_PARAM_IF_ENDIF_2: "TEST_PARAM_IF_ENDIF_2_value"
{% endif %}
e2eParameters: {}
technicalConfigurationParameters:
  APP_CORE_NAMESPACE: "{{current_env.name}}-app-core"
  APP_NAMESPACE: "{{current_env.name}}-app"
deployParameterSets: 
  - "app-common"
e2eParameterSets:
  - "app-common"
technicalConfigurationParameterSets:
  - "app-common"
