---
name: "{{current_env.cloudNameWithCluster}}"
apiUrl: "{{current_env.cluster.cloud_api_url}}"
apiPort: "{{current_env.cluster.cloud_api_port}}"
privateUrl: ""
publicUrl: "{{current_env.cluster.cloud_public_url}}"
dashboardUrl: "https://dashboard.{{current_env.cluster.cloud_public_url}}"
labels: []
protocol: "{{current_env.cluster.cloud_api_protocol}}"
dbMode: "db"
databases: []
defaultCredentialsId: "admin-token"
maasConfig:
  credentialsId: "maas"
  maasUrl: "http://maas.{{current_env.cluster.cloud_public_url}}"
  maasInternalAddress: "http://maas.maas:8888"
  enable: true
vaultConfig:
  url: ""
  credentialsId: ""
  enable: false
dbaasConfigs:
  - credentialsId: "dbaas"
    apiUrl: 'http://dbaas.dbaas:8888'
    aggregatorUrl: 'https://dbaas.{{current_env.cluster.cloud_public_url}}'
    enable: true
consulConfig:
  tokenSecret: "consul-token"
  publicUrl: 'https://consul.{{current_env.cluster.cloud_public_url}}'
  enabled: true
  internalUrl: 'http://consul.consul:8888'
e2eParameters:
  CMDB_NAME: "{{current_env.cmdb_name}}"
  TEMPLATE_NAME: "{{current_env.env_template}}"
deployParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
