name: "{{current_env.tenant}}"
registryName: "default"
description: "{{current_env.description}}"
owners: "{{current_env.owners}}"
deployParameters: {}
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false
  environmentParameters: {}
gitRepository: ""
defaultBranch: ""
credential: ""
labels: []
