postgres:
    bss:
        namespace: e01-bss
        version: 1.32.6-pg14-20240531.092603-2-RELEASE
    core:
        namespace: e01-core
        version: 1.32.6-pg14-20240531.092603-2-RELEASE
    toms:
        namespace: null
        version: 1.32.6-pg14-20240531.092603-2-RELEASE
